body{
    background-color:rgb(154, 196, 197);
    /* background-image: url("../Images/nature2.png"); */
    /* background-repeat: no-repeat; */
    /* background-position:center; */
    /* background-size: cover; */

    
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color:rgb(231, 231, 231);
    width: 15%;
}
h1,h3{
    color: rgb(18, 13, 83);
}
table
{
/* align-self: center; */
margin-left: auto;
margin-right: auto;

}
div{
    background-color: white;
}
#name{
    font-size: 50px;
    color: blue;
    text-align: center;
    margin: 0px;
    margin-top: 0px;
}
nav{
    background-color: rgb(10, 10, 39);
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* nav-left: auto; */
    padding: 10px;
    /* direction: rtl; */
    color: rgb(2, 2, 2);
    align-content: center; 
    text-align: center;
  
    margin-left: auto;
    margin-right: auto;
   
    
}
/* nav a:after,nav a:before{
    transition: all;
  
    
} */
nav a:hover{
    color: rgb(230, 59, 59);
}

nav a{
    color: rgb(182, 179, 179);
}
table{
    margin: 0%;
}
.footerr{
    position: absolute;
    margin: 25% 25% 25% 25%;
 

 background-color: rgb(89, 89, 238);
}
p{
    font-size: 20px;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dancecollection {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
.homepage{
    margin-left: auto;
    margin-right: auto;
    }
.homepage  td{
        padding: 20px;
    }
.navbar{        
        margin-left: auto;
        margin-right: auto;
       
    }

.contactform {
        margin-left: auto;
        margin-right: auto;
    }

    .btn{
        background-color: rgb(132, 208, 238);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 5px;
        font-size: large;
    }

    .form-example{
        display: table;
        margin-left: auto;
        margin-right: auto  ;

    }

  
    .slowFade{
        display:-ms-flexbox;
        align-items:baseline;
        background: #fff;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
    .slowFade .slide img{
        position:absolute;
        /* min-width: 100%;
        min-height: 100%; */
        height:95%;
        width:auto;
       
        background: #000;
        -webkit-backface-visibility:hidden;
        backface-visibility: hidden;
        opacity: 0;
        transform: scale(1.5) rotate(15deg);
        -webkit-animation: slowFade 20s infinite;
        animation: slowFade 20s infinite;
    }

     /* .slowFade .slide:nth-child(odd) img {
        -webkit-animation-delay: 10s;
                animation-delay: 10s;
    }
    
    .slowFade .slide:nth-child(even) img {
        -webkit-animation-delay: 5s;
                animation-delay: 5s;
    } */
    /* .slowFade .slide{
        animation-duration: 5sec;
    } */

    /*
    .slowFade .slide:nth-child(8) img {
        -webkit-animation-delay: 32s;
                animation-delay: 32s;
    }

    .slowFade .slide:nth-child(7) img {
        -webkit-animation-delay: 28s;
                animation-delay: 28s;
    }

    .slowFade .slide:nth-child(6) img {
        -webkit-animation-delay: 24s;
                animation-delay: 24s;
    }
    */
   

    .slowFade .slide:nth-child(1) img {
        -webkit-animation-delay: 20s;
                animation-delay: 20s;
    }
    
    .slowFade .slide:nth-child(2) img {
        -webkit-animation-delay: 16s;
                animation-delay: 16s;
    }
    .slowFade .slide:nth-child(3) img {
        -webkit-animation-delay: 12s;
                animation-delay: 12s;
    }

    .slowFade .slide:nth-child(4) img {
        -webkit-animation-delay: 8s;
                animation-delay: 8s;
    } 

    .slowFade .slide:nth-child(5) img {
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }
    .slowFade .slide:nth-child(7) img {
        -webkit-animation-delay: 36s;
                animation-delay: 36s;
    }

    .slowFade .slide:nth-child(6) img {
        -webkit-animation-delay: 28s;
                animation-delay: 28s;
    }

    @keyframes slowFade {
        25% {
            opacity: 1;
            transform: scale(1) rotate(0);
        }
        40% {
            opacity: 0;
        }
    }

    @-webkit-keyframes slowFade {
        25% {
            opacity: 1;
            transform: scale(1) rotate(0);
        }
        40% {
            opacity: 0;
        }
    }

 
.slides{
  position:absolute;
  top: 100px; 
left: 25%;
  bottom: 500px;
  right: 25%;
  
  width: auto;
  height: 400px;
}

/* .slide{
    width: auto;
    height: 400px;
} */




    nav{
        width: 100%;
        position:fixed;
        top: 0px;
    }

    .form-example{
        position: absolute;
        margin: 5% 25% 25% 25%;
    }

 
 