body{
    background-color:rgb(154, 196, 197);
    /* background-image: url("../Images/nature2.png"); */
    /* background-repeat: no-repeat; */
    /* background-position:center; */
    /* background-size: cover; */

    
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color:rgb(231, 231, 231);
    width: 15%;
}
h1,h3{
    color: rgb(18, 13, 83);
}
table
{
/* align-self: center; */
margin-left: auto;
margin-right: auto;

}
div{
    background-color: white;
}
#name{
    font-size: 50px;
    color: blue;
    text-align: center;
    margin: 0px;
    margin-top: 0px;
}
nav{
    background-color: rgb(10, 10, 39);
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* nav-left: auto; */
    padding: 10px;
    /* direction: rtl; */
    color: rgb(2, 2, 2);
    align-content: center; 
    text-align: center;
  
    margin-left: auto;
    margin-right: auto;
   
    
}
/* nav a:after,nav a:before{
    transition: all;
  
    
} */
nav a:hover{
    color: rgb(182, 179, 179);
}
table{
    margin: 0%;
}
.footerr{
 
 text-align: center;
}
p{
    font-size: 20px;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dancecollection {
    margin-left: auto;
    margin-right: auto;
}
.homepage{
    margin-left: auto;
    margin-right: auto;
    }
.homepage  td{
        padding: 20px;
    }
.navbar{        
        margin-left: auto;
        margin-right: auto;
    }

.contactform {
        margin-left: auto;
        margin-right: auto;
    }

    .btn{
        background-color: rgb(130, 139, 139);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 5px;
    }